global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket {{ haproxy_socket }} level admin
  chroot {{ haproxy_chroot }}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon

defaults
  log global
  mode  tcp
  option  dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend {{ frontend_name }}
    bind {{ frontend_bind_address }}:{{ frontend_port }}
    default_backend {{ backend_name }}

backend {{ backend_name }}
    mode tcp
    server {{backend_name}} {{ backend_address }} 

